<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>gitPub</title>
  </head>
  <body>
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
      }
      li {
        text-transform: capitalize;
      }
    </style>
    <h1>Welcome to gitPub</h1>
    <ul>
      <% drinks.forEach(drink =>{ %>
      <li><%= drink.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
