<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>gitPub</title>
  </head>
  <body>
    <h1>At foo bar</h1>
    <h2><%= drink.name%></h2>
    <img src="<%= `${drink.image}.png` %>" alt="" />
    <a href="http://localhost:3000/drinks">Go back</a>
  </body>
</html>
